@media (min-width: 421px) {
  section.flights-to .flights-search-field {
    width: 400px;
    margin: auto;
  }
  section.flights-to .flights-class-selector {
    display: flex;
    max-width: 400px;
    margin: 16px auto 24px;
    justify-content: space-between;
    padding: 3px;
  }
  section.flights-to .flights-class-selector span {
    padding: 12px 20px;
  }
  section.flights-to.modal-show .modal-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  section.flights-to.modal-show .modal-block .popup {
    max-width: 400px;
    margin: 139px auto;
  }
  section.flights-to .flights-to {
    text-align: right;
  }

  section.flights-to .flights-to .flights-detail {
    float: right;
    margin-left: 0 !important;
    margin-right: 0px;
  }
  section.flights-to .depature-return,
  section.flights-to .from-to-switch,
  section.flights-to .passengers,
  section.flights-to .email_plus_terms {
    margin: 0 32px;
  }
  section.flights-to .passengers > div.child {
    text-align: right;
  }
  section.flights-to .depature-return .flights-from span {
    float: left;
  }
  section.flights-to .depature-return > div > span:after,
  section.flights-to .flghts-upblock .from-text:after {
    float: right;
    margin-right: 0px;
    margin-top: -2px;
    margin-bottom: 6px;
    margin-left: 8px;
  }
  #flights-depature {
    clear: both;
  }
}
@media (min-width: 768px) {
  /* main:before {
    background: url(../img/map-big.svg) #9766e3;
    background-repeat: no-repeat;
    background-position: center 40px;
  } */
  .flights-results.results-mobile {
    display: none;
  }
  .flights-results.results-desktop {
    display: block;
  }
  section.flights-to .results-desktop {
    max-width: 640px;
  }
  .flights-results.results-desktop .flights-item {
    max-width: 480px;
  }
}
@media (min-width: 1080px) {
  section.flights-to .results-desktop {
    max-width: 900px;
  }
  .flights-results.results-desktop .flights-item {
    max-width: 500px;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 640px) {
  .mobile-dn {
    display: none;
  }
}

@media (max-width: 420px) {
  section.flights-to:after {
    content: "";
    background: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 178px;
    left: 0;
  }
  section.flights-to .flights-head-title {
    padding-top: 52px;
    z-index: 1;
    position: relative;
  }
  .flights-to-dashboard.flights-search-field.disable-select
    > div.from-to-switch
    > div.flights-modal
    > div {
    max-width: 90vw;
  }
  section.flights-to .depature-return .flights-modal > div {
    max-width: 90vw;
  }
  section.flights-to .from-to-switch > div:last-child .flights-detail:before {
    float: left;
    left: -2px;
    top: 1px;
  }
  section.flights-to .from-to-switch .flights-to .flights-detail {
    margin-left: 0;
  }
}

@media (max-width: 340px) {
  .vhd-calendar-header {
    display: none;
  }
  .vhd-calendar .calendar-date .week {
    height: 28px !important;
  }
  .vhd-calendar .calendar-date .week .day {
    height: 26px !important;
    width: calc(96% / 7) !important;
  }
  vhd-calendar .calendar-week {
    width: 100% !important;
  }
  .vhd-calendar .calendar-week-item {
    width: calc(96% / 7) !important;
  }
  .vhd-calendar-left,
  .vhd-calendar-right {
    width: 100% !important;
  }
  section.flights-to
    .depature-return
    .flights-modal
    > div
    .vhd-container
    > div {
    padding: 6px 14px;
  }
  .mobile-only-flights {
    font-size: 16px;
  }
}
